@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin section-spacing {
    padding: 120px 0; // Bo'limlar orasida keng joy tashlash
}

@mixin neon-border {
    border: 1px solid $border-color;
    transition: $transition;
    &:hover {
        border-color: $primary;
        box-shadow: 0 0 20px rgba($primary, 0.15);
    }
}