// 1. ABSTRACTS (Faqat bularni chaqiramiz)
@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

// 2. BASE (Global stillar)
@use 'base/base';

// 3. LAYOUT & COMPONENTS (Hammasi @use bilan)
@use 'layout/navbar';
@use 'layout/hero';
@use 'layout/contact';
@use 'layout/footer';
@use 'components/buttons';
@use 'components/cards';

// Global kursor effekti (style.scss ichida qolsa bo'ladi)
.cursor-follower {
    position: fixed;
    width: 20px;
    height: 20px;
    background: v.$primary; // Endi v.$ orqali chaqiramiz
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 20px v.$primary;
}