// 1. ABSTRACTS (Faqat bularni chaqiramiz)
@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

// 2. BASE (Global stillar)
@use 'base/base';

// 3. LAYOUT & COMPONENTS (Hammasi @use bilan)
@use 'layout/navbar';
@use 'layout/hero';
@use 'layout/contact';
@use 'layout/footer';
@use 'components/buttons';
@use 'components/cards';
@use 'components/projects';

.neon-cursor {
  width: 8px;
  height: 8px;
  background-color: #0dcaf0;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, width 0.3s, height 0.3s, background-color 0.3s;

  box-shadow: 0 0 10px #0dcaf0, 0 0 20px #0dcaf0, 0 0 30px #0dcaf0;
  animation: pulseGlow 1.5s infinite alternate;
}

.neon-cursor.cursor-hover {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid #0dcaf0;
  box-shadow: 0 0 15px #0dcaf0; /* Hoverda glow biroz o'zgaradi */
}

@keyframes pulseGlow {
  from {
    box-shadow: 0 0 5px #0dcaf0, 0 0 10px #0dcaf0;
    opacity: 0.8;
  }
  to {
    box-shadow: 0 0 15px #0dcaf0, 0 0 30px #0dcaf0, 0 0 40px #0dcaf0;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .neon-cursor {
    display: none !important;
  }
}

