// 1. ABSTRACTS (Faqat bularni chaqiramiz)
@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

// 2. BASE (Global stillar)
@use 'base/base';

// 3. LAYOUT & COMPONENTS (Hammasi @use bilan)
@use 'layout/navbar';
@use 'layout/hero';
@use 'layout/contact';
@use 'layout/footer';
@use 'components/buttons';
@use 'components/cards';
@use 'components/projects';