@use '../abstract/variables' as v;
@use '../abstract/functions' as f;

.projects-header {
  margin-bottom: f.rem(60px);

  .title {
    font-size: f.rem(52px);
    font-weight: 800;
    color: v.$txt-main;
    margin-bottom: f.rem(20px);

    .highlight {
      color: v.$clr-primary;
      text-shadow: v.$fx-glow;
    }
  }

  .header-intro {
    font-size: f.rem(18px);
    color: v.$txt-body;
    max-width: f.rem(650px);
    line-height: 1.7;
  }

  .header-line {
    width: f.rem(60px);
    height: f.rem(4px);
    background: v.$clr-primary;
    margin-top: f.rem(30px);
    box-shadow: v.$fx-glow;
  }
}