@use '../abstract/variables' as v;
@use '../abstract/functions' as f;
@use '../abstract/mixins' as m;

.projects-container {
  width: 100%;
  max-width: v.$layout-max-width; // 1300px
  margin: 0 auto;
  padding: f.rem(120px) f.rem(40px);

  @include m.respond-to("tablet") {
    padding: f.rem(80px) f.rem(25px);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: f.rem(40px);

  @include m.respond-to("tablet") {
    grid-template-columns: 1fr;
    gap: f.rem(30px);
  }
}