@use '../abstracts/variables';

.btn-primary {
    position: relative;
    background: variables.$gradient;
    border: none;
    z-index: 1;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0; left: -100%;
        width: 100%; height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
        transition: 0.5s;
    }
    &:hover::after { left: 100%; }
    &:hover { box-shadow: 0 0 30px rgba(0, 242, 254, 0.6); transform: scale(1.05); }
}