@use '../abstracts/variables' as v;

.cursor-follower {
  position: fixed;
  width: 20px;
  height: 20px;
  background: v.$primary;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 0 0 20px v.$primary;
  visibility: visible;
}

@media (max-width: 1024px) {
    .cursor-follower{
        display: none !important;
        visibility: hidden !important;
  }
}