@use 'sass:math';

// Pixelni REMga xavfsiz o'tkazish
@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) * 1rem;
  } @else {
    @return math.div($pixel, 16px) * 1rem;
  }
}

// Rang shaffofligini boshqarish (Namespace xatolaridan himoyalangan)
@function clr-alpha($color, $opacity) {
  @if type-of($color) != 'color' {
    @error "clr-alpha funksiyasiga yuborilgan qiymat rang emas: #{$color}";
  }
  @return rgba($color, $opacity);
}

// Neon Glow generatori
@function neon-glow($color, $intensity: 15px) {
  @return 0 0 $intensity clr-alpha($color, 0.4);
}