// Breakpoints xaritasi
$breakpoints: (
        "mobile":  576px,
        "tablet":  992px,
        "desktop": 1200px
);

// Responsive Media Query Mixin
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

// Flexbox markazlashtirish
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Neon matn gradienti
@mixin text-gradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}