@use '../abstract/variables' as v;
@use '../abstract/functions' as f;
@use '../abstract/mixins' as m;

.p-card {
  background: v.$card-bg;
  border: 1px solid v.$brd-color;
  padding: f.rem(40px);
  border-radius: f.rem(24px);
  transition: v.$tr-smooth;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: f.rem(25px);
    .p-year { color: v.$clr-primary; font-weight: 700; font-size: f.rem(14px); }
    .p-cat { color: v.$txt-muted; font-size: f.rem(14px); text-transform: uppercase; }
  }

  .p-icon-box {
    @include m.flex-center;
    width: f.rem(54px);
    height: f.rem(54px);
    background: f.clr-alpha(v.$clr-primary, 0.05);
    border-radius: f.rem(12px);
    font-size: f.rem(26px);
    color: v.$clr-primary;
    margin-bottom: f.rem(20px);
    transition: v.$tr-smooth;
    border: 1px solid f.clr-alpha(v.$clr-primary, 0.1);
  }

  h3 {
    font-size: f.rem(28px);
    color: v.$txt-main;
    margin-bottom: f.rem(15px);
  }

  .p-desc {
    color: v.$txt-body;
    line-height: 1.6;
    margin-bottom: f.rem(25px);
    font-size: f.rem(16px);
  }

  .p-stack {
    display: flex;
    flex-wrap: wrap;
    gap: f.rem(15px);
    margin-top: auto;

    .stack-item {
      display: flex;
      align-items: center;
      gap: f.rem(6px);
      font-size: f.rem(13px);
      color: v.$txt-muted;
      i { color: v.$clr-primary; font-size: f.rem(16px); }
    }
  }

  .p-link {
    margin-top: f.rem(30px);
    display: inline-flex;
    align-items: center;
    gap: f.rem(10px);
    color: v.$txt-main;
    text-decoration: none;
    font-weight: 600;
    transition: v.$tr-fast;

    &:hover {
      color: v.$clr-primary;
      i { transform: translateX(5px); }
    }
  }

  &:hover {
    transform: translateY(-10px);
    border-color: v.$brd-hover;
    background: v.$card-bg-hover;
    box-shadow: v.$fx-shadow-card;

    .p-icon-box {
      background: v.$clr-primary;
      color: v.$clr-bg;
      box-shadow: v.$fx-glow;
      transform: rotate(10deg);
    }
  }
}